<a href="https://colab.research.google.com/github/vladimiralencar/DeepLearning-LANA/blob/master/keras/Analisa_Acuracia_Modelos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import preprocessing

In [0]:
df = pd.read_csv('dataset.csv')
df.head()

,id,num_gestacoes,glicose,pressao_sanguinea,grossura_pele,insulina,bmi,indice_historico,idade,classe
0,1,6,148,72,35,0,33.6,0.627,50,1
1,2,1,85,66,29,0,26.6,0.351,31,0
2,3,8,183,64,0,0,23.3,0.672,32,1
3,4,1,89,66,23,94,28.1,0.167,21,0
4,5,0,137,40,35,168,43.1,2.288,33,1

In [0]:
# normaliza os dados
# treino
ids = df.id.values
classes = df.classe.values
atributos = df.columns.values
atributos = atributos.tolist()
atributos = atributos[1:9]

x = df.loc[:, atributos].values # retorna uma array numpy 
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df.columns = atributos
df['id'] = ids
df['classe'] = classes
df.head()

,num_gestacoes,glicose,pressao_sanguinea,grossura_pele,insulina,bmi,indice_historico,idade,id,classe
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333,1,1
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667,2,0
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333,3,1
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000,4,0
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000,5,1

In [0]:
y = df['classe'].values
X = df.loc[:, atributos].values
X[:3]

array([[0.35294118, 0.74371859, 0.59016393, 0.35353535, 0.        ,
        0.50074516, 0.23441503, 0.48333333],
       [0.05882353, 0.42713568, 0.54098361, 0.29292929, 0.        ,
        0.39642325, 0.11656704, 0.16666667],
       [0.47058824, 0.91959799, 0.52459016, 0.        , 0.        ,
        0.34724292, 0.25362938, 0.18333333]])

In [0]:
y[:3]

array([1, 0, 1])

In [0]:
len(X)

768

In [0]:
#!pip install https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.10.1-py3-none-any.whl
#!pip uninstall tensorflow -y

In [0]:
#!pip install --upgrade https://storage.googleapis.com/tensorflow/mac/cpu/tensorflow-1.0.0-py3-none-any.whl

In [0]:
import tensorflow as tf
tf.__version__

'1.0.0'

In [0]:
#!pip uninstall keras -y

In [0]:
#!pip install keras==2.1.2

In [0]:
#!conda install -c conda keras==2.1.2 -y

In [0]:
!conda env list

# conda environments:
#
base                     /Users/vladimiralencar/anaconda3
tf                       /Users/vladimiralencar/anaconda3/envs/tf
tf36                  *  /Users/vladimiralencar/anaconda3/envs/tf36

In [0]:
import keras
keras.__version__

ModuleNotFoundError: No module named 'keras'

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout
from keras.utils import np_utils
from keras.models import model_from_json
#from keras.layers.advanced_activations import LeakyReLU, PReLU

# load json and create model
json_file = open('model.json', 'r')
loaded_model_json = json_file.read()
#json_file.close()
loaded_model = model_from_json(loaded_model_json)

# load weights into new model
loaded_model.load_weights("model.h5")
print("Loaded model from disk")

optimizer = 'rmsprop'
otimizadores = ['SGD', 'RMSprop', 'Adagrad', 'Adadelta', 'Adam', 'Adamax', 'Nadam']
optimizer  = 'Nadam'

#optimizer  = 'Adam'

    
# evaluate loaded model on test data
loaded_model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
score = loaded_model.evaluate(X, y, verbose=0)
print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))

KeyError: 0